body {
		font-family: 'Open Sans', sans-serif;
}

a.nolinkstyles {
		text-decoration: none;
		color: inherit;
}

a.nolinkstyles:visited {
		color:inherit;
}

.actions {
		text-align: right;
}

table, td {
		border-collapse: collapse;
		width: 100%;
}

table {
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-right: 1px solid black;
}

th, td {
		padding-left: 1em;
		padding-right: 1em;
}

th {
		background-color: green;
		color: white;
}

td {
		white-space: nowrap;
		border: 1px solid black;
}

.topbar {
		background-color: green;
		color: white;
		border-left: 1px solid black;
		border-right: 1px solid black;
		border-top: 1px solid black;
		padding-top: 2px;
		padding-bottom: 2px;
		padding-left: 0.3em;
		padding-right: 0.3em;
		width: 100%;
}

.form-field {
		padding-bottom: 1em;
}

.form-field label {
		vertical-align: top;
		display: inline-block;
		width: 6em;
}

.form-field input, .form-field textarea {
		width: 100%;
		font-family: inherit;
}

#viewhost {
		max-width: 768px;
}

button, input[type="submit"], input[type="reset"] {
    background: blue;
    color: white;
    border: 1px solid gray;
    padding: 2px 4px 2px 4px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
